html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

/* Tambahkan warna fill (fillColor) untuk kategori "Rawan" menjadi oranye */
.leaflet-interactive {
    fill: orange !important;
}
